$white: white;
$secondary-white: rgb(249 249 249);
$secondary-white__text: #b7b5b5;
$input-whiteBottomBorder: wheat;
$filmCardWhite: #483e53;
$outline-color: rgba(61, 207, 61, 0.856);

$black: black;
$secondary-black: #363636;
$input-blackBottomBorder: rgba(57, 6, 75, 0.897);