@import "_variables.scss";

*{
  margin:0;
  padding:0;
  transition: all 0.5s !important;
  user-select: none;
}

.row{
  --bs-gutter-x: 0px !important;
}

// WHITE MODE
.whiteMode{
  background: $white;
}

.whiteModeContainer{
  background: $secondary-white;
}

.darkElement{
  background: rgb(33, 37, 41);
}

.whiteActiveElement{
  border-bottom: 0px solid $input-whiteBottomBorder !important;
}
.whiteActiveElement:focus{
  border: none;
  border-bottom: 4px solid $input-whiteBottomBorder !important;
}

h4 span{
  color: rgb(163, 163, 163);
}

.filmCard{
  position: relative;
  color: $white;
  font-size: 18px;
}

.filmCard:hover{
  transform: scale(1.05);
}

.filmCard:hover > img{
  filter: blur(2px);
}

.filmCard__info{
  position: absolute;
  display: flex;
  flex-direction: column-reverse;
  opacity: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background: radial-gradient(rgba(15,19,33,.56) 30%,#0f1321 100%);
  border-radius: 12px;  
}
.filmCard__info > p{
  font-size: 11px;
}
.filmCard__info:hover{
  opacity: 0.8;
}

.filmCard__info-above{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.filmCard__also{
  color: $secondary-white__text;
}

.green{
  background: #009c64;
}

.red{
  background: rgb(179, 6, 6);
}

.filmCard__rating{
  display: flex;
  width: 70px;
  height: 30px;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
}

.filmCard__rating::before{
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cg clip-path='url(%23a)' fill='%23fff'%3E%3Cpath d='m20 11.294-9.237-.618 8.46 3.38A9.9 9.9 0 0 0 20 11.294Z'/%3E%3Cpath d='M18.103 15.964A10.04 10.04 0 0 1 10.042 20C4.496 20 0 15.523 0 10S4.496 0 10.042 0a10.04 10.04 0 0 1 8.071 4.05L9.724 8.522 15.123 3H12.13L8.455 8.08V3h-2.43v14h2.43v-5.072L12.13 17h2.993l-5.258-5.348 8.238 4.312Z'/%3E%3Cpath d='m19.223 5.944-8.4 3.356L20 8.705a9.896 9.896 0 0 0-.777-2.761Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h20v20H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.filmPage__rating{
  height: 50px !important;
  width: 100px;
  font-weight: bold;
  font-size: 25px;
  color: white;
  justify-content: space-around;
}

.playButton{
  max-width: 600px;
  padding: 10px 20px;
  border-radius: 12px;
  border: none;
  background: linear-gradient(263.27deg,#58eb58,#30a369 58.72%,#06e791 90.93%);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

    &:hover{
  outline: 2px solid #98bfe2;
  color: white; 
}}

.playButtonIco{
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background-image: url("https://cdn.iconscout.com/icon/free/png-256/free-play-1912208-1617677.png");
  background-size: cover;
}

.playerButtons{
  display: flex;
  gap: 20px;
}

.likeButton{
  max-width: 600px;
  padding: 10px 10px;
  border-radius: 12px;
  box-shadow: 0 0 10px $outline-color;
  background: linear-gradient(263.27deg,#58eb58,#30a369 58.72%,#06e791 90.93%);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.likeButton:hover{
  box-shadow: 0 0 20px $outline-color;
  color: white;
}
.likeButtonIco-Unactive{
  width: 50px;
  height: 50px;
  background-image: url("https://www.svgrepo.com/show/84913/add-favorite.svg");
  background-size: cover;
}
.likeButtonIco-Active{
  width: 50px;
  height: 50px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/4b/High-contrast-emblem-favorite.svg/800px-High-contrast-emblem-favorite.svg.png");
  background-size: cover;
}


// СТРАНИЦА ФИЛЬМА
.Film-Page__bg-img{
  position: relative;
  width: 100%;
--bg-img: '';
  }
  
  .Film-Page__bg-img::before{
    background: -webkit-gradient(linear,left top,left bottom,from(#1a1d29),color-stop(29.35%,rgba(26,29,41,0))),-webkit-gradient(linear,left top,right top,from(#1a1d29),color-stop(73.85%,rgba(26,29,41,0))),-webkit-gradient(linear,left top,left bottom,color-stop(27.52%,rgba(26,29,41,0)),color-stop(97.48%,#1a1d29)),var(--bg-img);
    background: -o-linear-gradient(top,#1a1d29 0,rgba(26,29,41,0) 29.35%),-o-linear-gradient(left,#1a1d29 0,rgba(26,29,41,0) 73.85%),-o-linear-gradient(top,rgba(26,29,41,0) 27.52%,#1a1d29 97.48%),var(--bg-img);
    background: linear-gradient(180deg,#1a1d29 0,rgba(26,29,41,0) 29.35%),linear-gradient(90deg,#1a1d29 0,rgba(26,29,41,0) 73.85%),linear-gradient(180deg,rgba(26,29,41,0) 27.52%,#1a1d29 97.48%),var(--bg-img);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    display: block;
    height: calc(100vh - 54px);
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

.Film-Page__title-img{
  padding: 10vh 0 0 0;
}



// BLACK MODE

.bg-light{
  background-color: rgb(75, 75, 75) !important;
}

.blackModeContainer{
  background: $secondary-black;
}

.blackMode{
  background: $black;
}

.btn-outline-dark{
  background: $black;
  color: $white;
}

.btn-outline-dark:hover{
  background: $secondary-black;
}

.darkActiveElement{
  border-bottom: 0px solid $input-blackBottomBorder !important;
}

.darkActiveElement:focus{
  border: none;
  border-bottom: 4px solid $input-blackBottomBorder !important;
}